{# src/A2C/PlatformBundle/Resources/views/Admin/index.html.twig #}

{% extends "A2CPlatformBundle::layout.html.twig" %}
{% block admin %}
    <ul>
        <li><a href="{{ path('a2c_platform_admin_list') }}">Liste des annonces</a></li>
        <li><a href="{{ path('a2c_platform_admin_ban') }}">Bannir addresse mail</a></li>
        <li><a href="{{ path('a2c_platform_admin_mail') }}">Envoyer mail collectif</a></li>
    </ul>
{% endblock %}

{% block body %}
    
{% endblock %}
    